@use "../abstracts/variables" as *;

.checkbox {
  label {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    width: max-content;
    max-width: 100%;
  }

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .checkmark {
    display: grid;
    place-items: center;
    width: 20px;
    height: 20px;
    background-color: var(--checkbox-bg);
    border-radius: 2px;
    transition: background-color 350ms ease;

    &::after {
      content: "";
      width: 6px;
      height: 12px;
      border-style: solid;
      border-color: var(--checkbox-bg);
      border-width: 0 2px 2px 0;
      rotate: 45deg;
      translate: 0 -2px
    }
  }

  input[type="checkbox"] {
    display: none;

    &:checked ~ .checkmark {
      background-color: var(--primary);
    }
  }
}

@media (hover: hover) {
  .checkbox label:hover {
    cursor: pointer;

    .checkmark {
      background-color: var(--hsla-primary-40);
    }
  }
}