<html data-namespace-typo3-fluid="true" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>

<div id="metadata" class="tabs-item">
  <fieldset class="form-section">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <fieldset class="form-section">
          <h3 class="form-section-headline">{f:translate(key: 'tx_mindshapeseo_label.add_options', extensionName:
            'mindshape_seo')}</h3>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <f:form.checkbox property="addJsonldBreadcrumb" value="1"/>
                {f:translate(key: 'tx_mindshapeseo_domain_model_configuration.add_jsonld_breadcrumb', extensionName:
                'mindshape_seo')}
              </label>
            </div>
            <div class="checkbox">
              <label>
                <f:form.checkbox id="addJsonld" property="addJsonld" value="1"/>
                {f:translate(key: 'tx_mindshapeseo_domain_model_configuration.add_jsonld', extensionName:
                'mindshape_seo')}
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </fieldset>
</div>

</html>