$google-link-blue: #1a0dab;
$google-url-green: #006621;
$google-description-grey: #545454;
$bootstrap-border-gray: #ddd;
$bootstrap-link-blue: #337ab7;
$bootstrap-success-green: #5cb85c;
$bootstrap-success-green-hover: #449d44;
$bootstrap-danger-red: #d9534f;
$bootstrap-danger-red-hover: #c9302c;
$white: #fff;
$whitegrey: #bdbcbc;
$grey: #ededed;
$darkgrey: #333;
$lightgrey: #666;

.mindshapeseo-preview {
  .pagetree-info {
    overflow: hidden;
    padding-bottom: 0;
    position: relative;

    .depth-markup {
      bottom: 0;
      height: 100%;
      position: absolute;
      top: 0;

      .treeline-icon {
        height: 100%;
        margin: 0;
        padding: 0;
        top: 0;
        width: 17px;
      }

      .icon {
        overflow: visible;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }

      .title {
        display: inline-block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }

      .title-wrapper {
        position: relative;
        top: 44%;
      }

      &.rootpage {
        .icon {
          margin-left: 1px;
        }
      }
    }

    .depth-markup.subpages:not(.rootpage) {
      span:nth-last-child(2) {
        display: inline-block;
        height: 100%;
        position: relative;

        &:before {
          border-left: 1px dotted $lightgrey;
          bottom: 0;
          content: '';
          left: 50%;
          position: absolute;
          top: calc(50% + 8px);
          width: 1px;
        }
      }
    }

    .depth-markup.rootpage.subpages {
      position: absolute;
      display: inline-block;
      height: 100%;

      &:before {
        border-left: 1px dotted $lightgrey;
        bottom: 0;
        content: '';
        left: 8px;
        position: absolute;
        top: 50%;
        width: 1px;
      }
    }
  }

  .icon-provider-fontawesome-error {
    display: none;

    i {color: red;}
  }

  ul.pagination {
    margin: 1em 0 2em;
  }

  .msh-tooltip {
    display: inline;
    font-style: normal;
    position: relative;

    &:hover {
      &:after {
        background: rgba($darkgrey, .8);
        border-radius: 5px;
        bottom: 26px;
        color: $white;
        content: attr(title);
        left: -80%;
        padding: 5px 15px;
        position: absolute;
        width: 220px;
        z-index: 98;
      }

      &:before {
        border: solid;
        border-color: $darkgrey transparent;
        border-width: 6px 6px 0;
        bottom: 20px;
        content: '';
        left: 20%;
        position: absolute;
        z-index: 99;
      }
    }
  }

  .focus-keyword-container {
    .focus-keyword-na {color: #999;}
  }

  .google-preview-column {vertical-align: top;}

  .seo-check {
    .progress {cursor: pointer;}

    .fa-exclamation-circle{
      color: $bootstrap-danger-red;
      font-size: 16px;
      line-height: .9;
    }

    .fa-check-circle{
      color: $bootstrap-success-green;
      font-size: 16px;
      line-height: .9;
    }

    .error {display: none;}

    .btn {
      display: inline-block;
      margin: 5px 0 10px;
    }
  }

  .progress {
    height: 1em;
    margin-bottom: 1em;
  }

  .robots {
    margin-bottom: .4em;

    .danger {color: $bootstrap-danger-red;}
  }

  .canonical-icon {
    height: 1.3em;
    margin-top: -.1em;
    width: 1.3em;
  }
}

.google-preview {
  .thumbnail {
    margin: 0 0 1.5em;
    padding: .8em;
    position: relative;
    width: 620px;
  }

  .preview-box {
    font-family: arial, sans-serif;
    max-height: 74px;
    width: 600px;

    h3 {
      display: block;
      font-size: 18px;
      font-weight: normal;
      line-height: 1.2;
      margin: 0;
      overflow: hidden;
      text-decoration: none;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 580px;

      a {
        color: $google-link-blue;
      }
    }

    .url,
    .description {
      line-height: 1.4;
    }

    .url {
      display: block;
      font-size: 14px;
      font-style: normal;
      line-height: 16px;

      cite {
        color: $google-url-green;
        font-style: normal;
      }
    }

    .description {
      color: $google-description-grey;
      font-size: 13px;
      height: 34px;
      overflow-y: hidden;

      &:empty {display: none;}
    }

    .focus-keyword {
      font-weight: bold;
    }
  }

  .edit-panel {
    display: none;

    .progress {
      height: 10px;
      margin: 10px 0;
    }

    .title-container,
    .description-container {margin-bottom: 10px;}

    textarea.description {
      height: 65px;
      resize: none;
    }

    hr {
      background-color: rgba(#000, .12);
      left: -.8em;
      margin: 10px 0;
      position: relative;
      width: calc(100% + 1.6em);
    }
  }

  button {
    &.save {display: none;}
    &.edit {
      background-color: $bootstrap-border-gray;
      border: solid 1px $bootstrap-border-gray;
      border-bottom-left-radius: .5em;
      border-bottom-right-radius: .5em;
      font-size: .8em;
      left: 50%;

      margin-top: 1em;
      position: absolute;
      transform: translateX(-50%);

      &:hover {background-color: $grey}
      .abort-text {display: none;}
    }
  }

  .alerts-container {display: none;}
}

#msh-modal {
  .list-group {
    margin-bottom: 0;

    li.list-group-item {
      border-color: $whitegrey;
      list-style: none;

      &.first-visible {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }

      &.last-visible {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      .badge {
        background-color: inherit;
        color: inherit;

        .icon-provider-fontawesome-error {
          display: inline-block;

          i {color: inherit;}
        }
      }
    }
  }
}

#mindshape-seo-configuration {
  .mindshape-seo-delete {margin-bottom: 1em;}
  #jsonld {display: none;}
  .thumbnail {padding: 1em;}

  .form-section-headline {
    .icon-provider-fontawesome-angle-up,
    .icon-provider-fontawesome-angle-down {vertical-align: middle;}
    .icon-provider-fontawesome-angle-up {display: inline-block;}
    .icon-provider-fontawesome-angle-down {display: none;}
    .collapsed {
      .icon-provider-fontawesome-angle-down {display: inline-block;}
      .icon-provider-fontawesome-angle-up {display: none;}
    }
  }

  fieldset {
    margin-bottom: 1em;
    &.logo {display: none;}
  }
}
