<html data-namespace-typo3-fluid="true" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

  <script async src="https://www.googletagmanager.com/gtag/js?id={analyticsId}" data-ignore="1"></script>
  <script data-ignore="1">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());

    gtag('config', '<f:format.raw>{analyticsId}</f:format.raw>', { 'anonymize_ip': true });
  </script>

</html>
