<html data-namespace-typo3-fluid="true" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

  <script data-ignore="1">
    window.cookieConsentLoadedGoogleAnalyticsV4 = false;
    window.addEventListener('cookieConsent', function (event) {
      if (
        false === window.cookieConsentLoadedGoogleAnalyticsV4 &&
        event.detail.hasOption('google_analytics_v4')
      ) {
        let script = document.createElement('script');

        script.async = true;
        script.src = '//www.googletagmanager.com/gtag/js?id=<f:format.raw>{analyticsId}</f:format.raw>';

        document.head.appendChild(script);

        window.cookieConsentLoadedGoogleAnalyticsV4 = true;
        window.dataLayer = window.dataLayer || [];
        function gtag() {dataLayer.push(arguments)}
        gtag('js', new Date());
        gtag('config', '<f:format.raw>{analyticsId}</f:format.raw>');
      }
    });
  </script>

</html>
