<html data-namespace-typo3-fluid="true" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

  <f:section name="Main">

    <div class="google-preview" data-editing="{f:if(condition: editing: then: 1, else: 0)}" data-original-title="{title}" data-original-description="{description}" data-original-focuskeyword="{focusKeyword}" data-original-noindex="{f:if(condition: noindex, then: 1, else: 0)}" data-original-nofollow="{f:if(condition: nofollow, then: 1, else: 0)}">
      <div class="thumbnail">
        <f:if condition="{editing}">
          <f:then>
            <f:render section="Form" arguments="{_all}"/>
            <button class="edit">
              <span class="edit-text">
                  {f:translate(key: 'tx_mindshapeseo_label.preview.button.edit')}
                  <core:icon identifier="provider-fontawesome-caret-down"/>
              </span>
              <span class="abort-text">
                  {f:translate(key: 'tx_mindshapeseo_label.preview.button.abort')}
                  <core:icon identifier="provider-fontawesome-caret-up"/>
              </span>
            </button>
          </f:then>
          <f:else>
            <f:render section="PreviewAndFields" arguments="{_all}"/>
          </f:else>
        </f:if>
      </div>
    </div>

  </f:section>

  <f:section name="Form">

    <form name="page">
      <f:render section="PreviewAndFields" arguments="{_all}"/>
    </form>

  </f:section>

  <f:section name="PreviewAndFields">

    <f:form.hidden name="pageUid" value="{pageUid}"/>
    <div class="preview-box">
      <h3>
        <a href="{url}" target="_blank">
          <f:if condition="{titleAttachment}">
            <f:then>
              <f:if condition="{disableTitleAttachment}">
                <f:then>
                  <span class="title">{title}</span>
                </f:then>
                <f:else>
                  <f:if condition="{titleAttachmentPosition} == 'prefix'">
                    <f:then>
                      <span class="attachment">{titleAttachment}&nbsp;{titleAttachmentSeperator}</span>
                      <span class="title">{title}</span>
                    </f:then>
                    <f:else>
                      <span class="title">{title}</span>
                      <span class="attachment">{titleAttachmentSeperator}&nbsp;{titleAttachment}</span>
                    </f:else>
                  </f:if>
                </f:else>
              </f:if>
            </f:then>
            <f:else>
              <span class="title">{title}</span>
            </f:else>
          </f:if>
        </a>
      </h3>
      <div class="url">
        <cite>{previewUrl -> f:format.raw()}</cite>
      </div>
      <div class="description">{description -> f:format.raw()}</div>
    </div>
    <f:if condition="{editing}">
      <div class="edit-panel">
        <hr/>
        <div class="form-group title-container">
          <f:form.textfield name="title" value="{title}" class="title form-control"/>
          <div class="progress progress-title">
            <div class="progress-bar" role="progressbar"></div>
          </div>
        </div>
        <div class="form-group description-container">
          <f:form.textarea name="description" value="{description}" class="description form-control"/>
          <div class="progress progress-description">
            <div class="progress-bar" role="progressbar"></div>
          </div>
        </div>
        <div class="form-group focus-keyword">
          <label>{f:translate(key: 'tx_mindshapeseo_domain_model_pages.mindshapeseo_focus_keyword')}</label>
          <f:form.textfield name="{f:if(condition: editing, then: 'focusKeyword', else: focusKeywordFieldName)}" value="{focusKeyword}" placeholder="{f:translate(key: 'tx_mindshapeseo_domain_model_pages.mindshapeseo_focus_keyword')}" class="form-control"/>
        </div>
        <div class="form-group">
          <div class="checkbox noindex">
            <label>
              <f:form.checkbox name="noindex" value="1" checked="{noindex}"/>
              {f:translate(key: 'tx_mindshapeseo_domain_model_pages.mindshapeseo_no_index_label')}
            </label>
          </div>
          <div class="checkbox nofollow">
            <label>
              <f:form.checkbox name="nofollow" value="1" checked="{nofollow}"/>
              {f:translate(key: 'tx_mindshapeseo_domain_model_pages.mindshapeseo_no_follow_label')}
            </label>
          </div>
        </div>
        <button class="save btn btn-default" disabled="disabled">{f:translate(key: 'tx_mindshapeseo_label.preview.button.save')}</button>
        <core:icon identifier="provider-fontawesome-error"/>
      </div>
    </f:if>

    <div class="alerts-container">
      <ul class="list-group">
        <li class="list-group-item list-group-item-danger title-length">
          <span class="badge">
              <core:icon identifier="provider-fontawesome-error"/>
          </span>
          {f:translate(key: 'tx_mindshapeseo_label.preview.alert.title_length')}
        </li>
        <li class="list-group-item list-group-item-danger description-length">
          <span class="badge">
              <core:icon identifier="provider-fontawesome-error"/>
          </span>
          {f:translate(key: 'tx_mindshapeseo_label.preview.alert.description_length')}
        </li>
        <li class="list-group-item list-group-item-danger description-min-length">
          <span class="badge">
              <core:icon identifier="provider-fontawesome-error"/>
          </span>
          {f:translate(key: 'tx_mindshapeseo_label.preview.alert.description_min_length')}
        </li>
        <li class="list-group-item list-group-item-danger description-empty">
          <span class="badge">
              <core:icon identifier="provider-fontawesome-error"/>
          </span>
          {f:translate(key: 'tx_mindshapeseo_label.preview.alert.description_empty')}
        </li>
        <li class="list-group-item list-group-item-danger focus-keyword-missing">
          <span class="badge">
              <core:icon identifier="provider-fontawesome-error"/>
          </span>
          {f:translate(key: 'tx_mindshapeseo_label.preview.alert.focus_keyword_missing')}
        </li>
        <li class="list-group-item list-group-item-danger focus-keyword missing-title">
          <span class="badge">
              <core:icon identifier="provider-fontawesome-error"/>
          </span>
          {f:translate(key: 'tx_mindshapeseo_label.preview.alert.focus_keyword_missing_title')}
        </li>
        <li class="list-group-item list-group-item-danger focus-keyword missing-description">
          <span class="badge">
              <core:icon identifier="provider-fontawesome-error"/>
          </span>
          {f:translate(key: 'tx_mindshapeseo_label.preview.alert.focus_keyword_missing_description')}
        </li>
        <li class="list-group-item list-group-item-danger focus-keyword missing-url">
          <span class="badge">
              <core:icon identifier="provider-fontawesome-error"/>
          </span>
          {f:translate(key: 'tx_mindshapeseo_label.preview.alert.focus_keyword_missing_url')}
        </li>
        <li class="list-group-item list-group-item-success focus-keyword found-title">
          <span class="badge">
              <core:icon identifier="provider-fontawesome-success"/>
          </span>
          {f:translate(key: 'tx_mindshapeseo_label.preview.alert.focus_keyword_found_title')}
        </li>
        <li class="list-group-item list-group-item-success focus-keyword found-description">
          <span class="badge">
              <core:icon identifier="provider-fontawesome-success"/>
          </span>
          {f:translate(key: 'tx_mindshapeseo_label.preview.alert.focus_keyword_found_description')}
        </li>
        <li class="list-group-item list-group-item-success focus-keyword found-url">
          <span class="badge">
              <core:icon identifier="provider-fontawesome-success"/>
          </span>
          {f:translate(key: 'tx_mindshapeseo_label.preview.alert.focus_keyword_found_url')}
        </li>
      </ul>
    </div>

  </f:section>

</html>
