<html data-namespace-typo3-fluid="true" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

  <f:section name="Main">

    <div class="google-preview" data-editing="{f:if(condition: editing, then: '1', else: '0')}" data-original-title="{title}" data-original-seo-title="{seoTitle}" data-original-description="{description}" data-original-focuskeyword="{focusKeyword}" data-original-noindex="{f:if(condition: noindex, then: 1, else: 0)}" data-original-nofollow="{f:if(condition: nofollow, then: 1, else: 0)}">
      <div class="thumbnail">
        <f:if condition="{editing}">
          <f:then>
            <f:render section="Form" arguments="{_all}"/>
          </f:then>
          <f:else>
            <f:render section="PreviewAndFields" arguments="{_all}"/>
          </f:else>
        </f:if>
      </div>
    </div>

  </f:section>

  <f:section name="Form">

    <form name="page">
      <f:render section="PreviewAndFields" arguments="{_all}"/>
    </form>

  </f:section>

  <f:section name="PreviewAndFields">

    <input type="hidden" name="pageUid" value="{pageUid}">
    <f:if condition="{sysLanguageUid}">
      <input type="hidden" name="sysLanguageUid" value="{sysLanguageUid}">
    </f:if>
    <div class="preview-box">
        <div class="url">
            <cite>{previewUrl -> f:format.raw()}</cite>
            <span class="cache"></span>
        </div>
      <h3>
        <a href="{url}" target="_blank">
          <f:if condition="{titleAttachment}">
            <f:then>
              <f:if condition="{disableTitleAttachment}">
                <f:then>
                  <span class="title">{f:if(condition: seoTitle, then: seoTitle, else: title)}</span>
                </f:then>
                <f:else>
                  <f:if condition="{titleAttachmentPosition} == 'prefix'">
                    <f:then>
                      <span class="attachment">{titleAttachment}&nbsp;{titleAttachmentSeperator}</span>
                      <span class="title">{f:if(condition: seoTitle, then: seoTitle, else: title)}</span>
                    </f:then>
                    <f:else>
                      <span class="title">{f:if(condition: seoTitle, then: seoTitle, else: title)}</span>
                      <span class="attachment">{titleAttachmentSeperator}&nbsp;{titleAttachment}</span>
                    </f:else>
                  </f:if>
                </f:else>
              </f:if>
            </f:then>
            <f:else>
              <span class="title">{f:if(condition: seoTitle, then: seoTitle, else: title)}</span>
            </f:else>
          </f:if>
        </a>
      </h3>
      <div class="description">{description -> f:format.raw()}</div>
    </div>
    <button class="edit">
      <span class="edit-text">
        {f:translate(key: 'tx_mindshapeseo_label.preview.button.edit', extensionName: 'mindshape_seo')}
      </span>
      <span class="abort-text">
        {f:translate(key: 'tx_mindshapeseo_label.preview.button.abort', extensionName: 'mindshape_seo')}
      </span>

      <f:image src="{f:uri.resource(path: 'Icons/FontAwesome/angle-down_white.svg', extensionName: 'mindshape_seo')}"
               alt="Dropdown-Icon" width="16" />
    </button>
    <f:if condition="{editing}">
      <div class="edit-panel">
        <hr/>
        <div class="form-group title-container">
          <label>{f:translate(key: 'tx_mindshapeseo_domain_model_pages.mindshapeseo_title', extensionName: 'mindshape_seo')}</label>
          <f:form.textfield name="title" value="{title}" class="title form-control"/>
          <f:if condition="!{seoTitle}">
            <div class="progress progress-title">
              <div class="progress-bar" role="progressbar"></div>
            </div>
          </f:if>
        </div>
        <div class="form-group seo-title-container">
          <label>{f:translate(key: 'tx_mindshapeseo_domain_model_pages.mindshapeseo_seo-title', extensionName: 'mindshape_seo')}</label>
          <f:form.textfield name="seoTitle" value="{seoTitle}" class="seo-title form-control"/>
          <f:if condition="{seoTitle}">
            <div class="progress progress-title">
              <div class="progress-bar" role="progressbar"></div>
            </div>
          </f:if>
        </div>
        <div class="form-group description-container">
            <label>{f:translate(key: 'tx_mindshapeseo_domain_model_pages.mindshapeseo_description', extensionName: 'mindshape_seo')}</label>
            <f:form.textarea name="description" value="{description}" class="description form-control"/>
          <div class="progress progress-description">
            <div class="progress-bar" role="progressbar"></div>
          </div>
        </div>
        <div class="form-group focus-keyword">
          <label>{f:translate(key: 'tx_mindshapeseo_domain_model_pages.mindshapeseo_focus_keyword', extensionName: 'mindshape_seo')}</label>
          <f:form.textfield name="{f:if(condition: editing, then: 'focusKeyword', else: focusKeywordFieldName)}" value="{focusKeyword}" placeholder="{f:translate(key: 'tx_mindshapeseo_domain_model_pages.mindshapeseo_focus_keyword', extensionName: 'mindshape_seo')}" class="form-control"/>
        </div>
        <div class="form-group">
          <div class="checkbox noindex">
            <div class="checkbox-wrapper">
              <f:form.checkbox name="noindex" value="1" checked="{noindex}"/>
              <span class="checkmark"></span>
            </div>
            <label>
              {f:translate(key: 'tx_mindshapeseo_domain_model_pages.mindshapeseo_no_index_label', extensionName: 'mindshape_seo')}
            </label>
          </div>
          <div class="checkbox nofollow">
            <div class="checkbox-wrapper">
              <f:form.checkbox name="nofollow" value="1" checked="{nofollow}"/>
              <span class="checkmark"></span>
            </div>
            <label>
              {f:translate(key: 'tx_mindshapeseo_domain_model_pages.mindshapeseo_no_follow_label', extensionName: 'mindshape_seo')}
            </label>
          </div>
        </div>
        <button class="save btn btn-default" disabled="disabled">{f:translate(key: 'tx_mindshapeseo_label.preview.button.save', extensionName: 'mindshape_seo')}</button>
        <core:icon identifier="provider-fontawesome-error"/>
      </div>
    </f:if>

    <div class="alerts-container">
      <ul class="list-group">
        <li class="list-group-item list-group-item-danger title-length">
          <span class="badge">
              <core:icon identifier="provider-fontawesome-error"/>
          </span>
          {f:translate(key: 'tx_mindshapeseo_label.preview.alert.title_length', extensionName: 'mindshape_seo')}
        </li>
        <li class="list-group-item list-group-item-danger description-length">
          <span class="badge">
              <core:icon identifier="provider-fontawesome-error"/>
          </span>
          {f:translate(key: 'tx_mindshapeseo_label.preview.alert.description_length', extensionName: 'mindshape_seo')}
        </li>
        <li class="list-group-item list-group-item-danger description-min-length">
          <span class="badge">
              <core:icon identifier="provider-fontawesome-error"/>
          </span>
          {f:translate(key: 'tx_mindshapeseo_label.preview.alert.description_min_length', extensionName: 'mindshape_seo')}
        </li>
        <li class="list-group-item list-group-item-danger description-empty">
          <span class="badge">
              <core:icon identifier="provider-fontawesome-error"/>
          </span>
          {f:translate(key: 'tx_mindshapeseo_label.preview.alert.description_empty', extensionName: 'mindshape_seo')}
        </li>
        <li class="list-group-item list-group-item-danger focus-keyword-missing">
          <span class="badge">
              <core:icon identifier="provider-fontawesome-error"/>
          </span>
          {f:translate(key: 'tx_mindshapeseo_label.preview.alert.focus_keyword_missing', extensionName: 'mindshape_seo')}
        </li>
        <li class="list-group-item list-group-item-danger focus-keyword missing-title">
          <span class="badge">
              <core:icon identifier="provider-fontawesome-error"/>
          </span>
          {f:translate(key: 'tx_mindshapeseo_label.preview.alert.focus_keyword_missing_title', extensionName: 'mindshape_seo')}
        </li>
        <li class="list-group-item list-group-item-danger focus-keyword missing-description">
          <span class="badge">
              <core:icon identifier="provider-fontawesome-error"/>
          </span>
          {f:translate(key: 'tx_mindshapeseo_label.preview.alert.focus_keyword_missing_description', extensionName: 'mindshape_seo')}
        </li>
        <li class="list-group-item list-group-item-danger focus-keyword missing-url">
          <span class="badge">
              <core:icon identifier="provider-fontawesome-error"/>
          </span>
          {f:translate(key: 'tx_mindshapeseo_label.preview.alert.focus_keyword_missing_url', extensionName: 'mindshape_seo')}
        </li>
        <li class="list-group-item list-group-item-success focus-keyword found-title">
          <span class="badge">
              <core:icon identifier="provider-fontawesome-success"/>
          </span>
          {f:translate(key: 'tx_mindshapeseo_label.preview.alert.focus_keyword_found_title', extensionName: 'mindshape_seo')}
        </li>
        <li class="list-group-item list-group-item-success focus-keyword found-description">
          <span class="badge">
              <core:icon identifier="provider-fontawesome-success"/>
          </span>
          {f:translate(key: 'tx_mindshapeseo_label.preview.alert.focus_keyword_found_description', extensionName: 'mindshape_seo')}
        </li>
        <li class="list-group-item list-group-item-success focus-keyword found-url">
          <span class="badge">
              <core:icon identifier="provider-fontawesome-success"/>
          </span>
          {f:translate(key: 'tx_mindshapeseo_label.preview.alert.focus_keyword_found_url', extensionName: 'mindshape_seo')}
        </li>
      </ul>
    </div>

  </f:section>

</html>
