$googleLinkBlue: #1A0DAB;
$googleUrlGreen: #006621;
$googleDescriptionGrey: #545454;
$bootstrapBorderGray: #ddd;
$bootstrapLinkBlue: #337ab7;
$bootstrapSuccessGreen: #5cb85c;
$bootstrapSuccessGreenHover: #449d44;
$bootstrapDangerRed: #d9534f;
$bootstrapDangerRedHover: #c9302c;
$white: #fff;
$grey: #ededed;
$darkgrey: #333;

.mindshapeseo-preview {
  .pagetree-info {
    position: relative;
    overflow: hidden;
    padding-bottom: 0;

    .depth-markup {
      position: absolute;
      top: 0;
      bottom: 0;
      height: 100%;

      .treeline-icon {
        width: 17px;
        height: 100%;
        padding: 0;
        top: 0;
        margin: 0;
      }

      .icon {
        overflow: visible;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }

      .title {
        position: relative;
        display: inline-block;
        top: 50%;
        transform: translateY(-50%);
      }

      .title-wrapper {
        position: relative;
        top: 44%;
      }

      &.rootpage {
        .icon {
          margin-left: 1px;
        }
      }
    }

    .depth-markup.subpages:not(.rootpage) {
      span:nth-last-child(2) {
        display: inline-block;
        height: 100%;
        position: relative;

        &:before {
          content: "";
          width: 1px;
          position: absolute;
          top: calc(50% + 8px);
          bottom: 0;
          left: 50%;
          border-left: 1px dotted #666666;
        }
      }
    }

    .depth-markup.rootpage.subpages {
      position: absolute;
      display: inline-block;
      height: 100%;

      &:before {
        content: "";
        width: 1px;
        position: absolute;
        top: 50%;
        bottom: 0;
        left: 8px;
        border-left: 1px dotted #666666;
      }
    }
  }

  .icon-provider-fontawesome-error {
    display: none;

    i {color: red;}
  }

  ul.pagination {
    margin: 1em 0 2em;
  }

  .msh-tooltip {
    display: inline;
    position: relative;
    font-style: normal;

    &:hover {
      &:after {
        background: $darkgrey;
        background: rgba(0, 0, 0, .8);
        border-radius: 5px;
        bottom: 26px;
        color: $white;
        content: attr(title);
        left: -80%;
        padding: 5px 15px;
        position: absolute;
        width: 220px;
        z-index: 98;
      }

      &:before {
        border: solid;
        border-color: $darkgrey transparent;
        border-width: 6px 6px 0;
        bottom: 20px;
        content: '';
        left: 20%;
        position: absolute;
        z-index: 99;
      }
    }
  }

  .focus-keyword-container {
    .focus-keyword-na {color: #999;}
  }

  .google-preview-column {vertical-align: top;}

  .seo-check {
    .progress {cursor: pointer;}
  }

  .progress {
    height: 1em;
    margin-bottom: 1em;
  }

  .robots {
    margin-bottom: .4em;

    .danger {color: $bootstrapDangerRed;}

    .noindex:after {
      color: #000;
      content: ",";
      margin-left: -.3em;
    }
  }

  .canonical-icon {
    width: 1.3em;
    height: 1.3em;
    margin-top: -.1em;
  }
}

.google-preview {
  .thumbnail {
    width: 620px;
    margin: 0 0 1.5em 0;
    padding: .8em;
    position: relative;
  }

  .preview-box {
    font-family: arial, sans-serif;
    max-height: 74px;
    width: 600px;

    h3 {
      font-size: 18px;
      line-height: 1.2;
      margin: 0;
      display: block;
      overflow: hidden;
      width: 580px;
      color: #1e0fbe;
      font-weight: normal;
      white-space: nowrap;
      text-decoration: none;
      text-overflow: ellipsis;

      a {
        color: $googleLinkBlue;
      }
    }

    .url,
    .description {
      line-height: 1.4;
    }

    .url {
      display: block;
      font-size: 14px;
      font-style: normal;
      line-height: 16px;

      cite {
        color: $googleUrlGreen;
        font-style: normal;
      }
    }

    .description {
      height: 34px;
      font-size: 13px;
      overflow-y: hidden;
      color: $googleDescriptionGrey;

      &:empty {display: none;}
    }

    .focus-keyword {
      font-weight: bold;
    }
  }

  .edit-panel {
    display: none;

    .progress {
      margin: 10px 0;
      height: 10px;
    }

    .title-container,
    .description-container {margin-bottom: 10px;}

    textarea.description {
      resize: none;
      height: 65px;
    }

    hr {
      position: relative;
      background-color: rgba(#000, 0.12);
      margin: 10px 0;
      left: -.8em;
      width: calc(100% + 1.6em);
    }
  }

  button {
    &.save {display: none;}
    &.edit {
      position: absolute;
      border: solid 1px $bootstrapBorderGray;
      margin-top: 1em;
      font-size: .8em;
      border-bottom-left-radius: .5em;
      border-bottom-right-radius: .5em;

      left: 50%;
      transform: translateX(-50%);
      background-color: $bootstrapBorderGray;

      &:hover {background-color: $grey}
      .abort-text {display: none;}
    }
  }

  .alerts-container {display: none;}
}

#msh-modal {
  .list-group {
    margin-bottom: 0;

    li.list-group-item {
      list-style: none;
      border-color: #bdbcbc;

      &.first-visible {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }

      &.last-visible {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      .badge {
        background-color: inherit;
        color: inherit;

        .icon-provider-fontawesome-error {
          display: inline-block;

          i {color: inherit;}
        }
      }
    }
  }
}

#mindshape-seo-configuration {
  .mindshape-seo-delete {margin-bottom: 1em;}
  .row.analytics {padding-bottom: 1em;}
  .sameas {
    display: none;
    margin-top: 1em;
  }
  #jsonld {display: none;}

  fieldset {
    margin-bottom: 1em;
    &.logo {display: none;}
  }
}
