<html data-namespace-typo3-fluid="true" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:msh="http://typo3.org/ns/Mindshape/MindshapeSeo/ViewHelpers"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

    <f:layout name="Backend"/>

    <f:section name="Main">

        <f:if condition="{noPageSelected}">
            <f:then>
                <f:translate key="tx_mindshapeseo_label.preview.no_page_selected"/>
            </f:then>
            <f:else>
                <div class="mindshapeseo-preview">
                    <f:render section="Preview" arguments="{_all}"/>
                </div>
            </f:else>
        </f:if>

    </f:section>

    <f:section name="Preview">

        <h1>
            <f:translate key="tx_mindshapeseo_label.seo_preview_for_page"/>
            {currentPageMetaData.title}
        </h1>

        <div class="row">
            <div class="col-sm-2">
                <f:form id="depthselect-form" action="preview" controller="Backend">
                    <div class="form-group">
                        <label>
                            <f:translate key="tx_mindshapeseo_label.preview.levels"/>
                        </label>
                        <f:form.select id="depthselect" name="depth" options="{levelOptions}" value="{depth}" class="form-control"/>
                    </div>
                </f:form>
            </div>
        </div>

        <f:if condition="{settings.pageTree.usePagination}">
            <f:then>
                <msh:widget.paginate objects="{pageTree}" as="paginatedPages">
                    <f:render section="PageTreeTable" arguments="{pageTree: paginatedPages}"/>
                </msh:widget.paginate>
            </f:then>
            <f:else>
                <f:render section="PageTreeTable" arguments="{pageTree: pageTree}"/>
            </f:else>
        </f:if>

    </f:section>

    <f:section name="PageTreeTable">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        <f:translate key="tx_mindshapeseo_label.preview.page"/>
                    </th>
                    <th>
                        <f:translate key="tx_mindshapeseo_label.preview"/>
                    </th>
                    <th>
                        <f:translate key="tx_mindshapeseo_label.metadata"/>
                    </th>
                </tr>
            </thead>
            <tbody>
                <f:for each="{pageTree}" as="page" iteration="iterator">
                    <tr class="page{f:if(condition: page.row.uid, else: ' root')}">
                        <td class="pagetree-info" width="25%">
                            <span class="depth-markup{f:if(condition: iterator.isFirst, then: ' rootpage')}{f:if(condition: page.hasSub, then: ' subpages')}">
                                {page.depthData -> f:format.raw()}
                                <f:format.raw>{page.HTML}</f:format.raw>
                                <span class="title">{page.row.title}</span>
                            </span>
                        </td>
                        <td width="50%">
                            <f:if condition="{page.row}">
                                <f:render partial="GoogleSearchPreview" section="Main" arguments="{
                                    titleAttachment: page.metadata.titleAttachment,
                                    titleAttachmentSeperator: page.metadata.titleAttachmentSeperator,
                                    title: page.metadata.title,
                                    url: page.metadata.url,
                                    previewUrl: page.metadata.previewUrl,
                                    description: page.metadata.meta.description
                                    focusKeyword: page.metadata.meta.focusKeyword
                                    pageUid: page.metadata.uid
                                    editing: 1
                                }"/>
                            </f:if>
                        </td>
                        <td width="25%">
                            <form name="robots" class="robots-form">
                                <f:form.hidden name="pageUid" value="{page.row.uid}"/>
                                <div class="form-group">
                                    <div class="checkbox noindex">
                                        <label>
                                            <f:form.checkbox name="noindex" value="1" checked="{page.metadata.meta.robots.noindex}"/>
                                            <f:translate key="tx_mindshapeseo_domain_model_pages.mindshapeseo_no_index"/>
                                            <core:icon identifier="provider-fontawesome-error"/>
                                        </label>
                                        <span class="loader">
                                            <f:image src="{f:uri.resource(path: 'Icons/loading.svg', extensionName: 'mindshape_seo')}" title="Loading..."/>
                                        </span>
                                    </div>
                                    <div class="checkbox nofollow">
                                        <label>
                                            <f:form.checkbox name="nofollow" value="1" checked="{page.metadata.meta.robots.nofollow}"/>
                                            <f:translate key="tx_mindshapeseo_domain_model_pages.mindshapeseo_no_follow"/>
                                            <core:icon identifier="provider-fontawesome-error"/>
                                        </label>
                                        <span class="loader">
                                            <f:image src="{f:uri.resource(path: 'Icons/loading.svg', extensionName: 'mindshape_seo')}" title="Loading..."/>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                </f:for>
            </tbody>
        </table>

    </f:section>

</html>
