<html data-namespace-typo3-fluid="true" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:msh="http://typo3.org/ns/Mindshape/MindshapeSeo/ViewHelpers"
>

<f:layout name="Module"/>

<f:section name="Content">
  <div class="seo-settings-title-wrapper d-flex justify-content-between gap-2">
    <f:if condition="* == {configuration.domain}">
      <f:then>
        <h1 class="seo-settings-title">
          {f:translate(key: 'tx_mindshapeseo_label.seo_settings_for_all_pages', extensionName: 'mindshape_seo')}
        </h1>
      </f:then>
      <f:else>
        <h1 class="seo-settings-title">
          {f:translate(key: 'tx_mindshapeseo_label.seo_settings_for', extensionName: 'mindshape_seo')} <b>{currentDomain}</b>
        </h1>
      </f:else>
    </f:if>

    <a href="https://www.mindshape.de" target="_blank" class="logo" aria-label="Zur Mindshape-Website (öffnet in einem neuen Tab)">
      <f:image src="{f:uri.resource(path: 'Icons/mindshape_logo.svg', extensionName: 'mindshape_seo')}"
               class="mindshape-icon light" alt="mindshape-Logo" width="175" height="47" />
      <f:image src="{f:uri.resource(path: 'Icons/mindshape_logo_dark.svg', extensionName: 'mindshape_seo')}"
               class="mindshape-icon dark" width="175" height="47" additionalAttributes="{aria-hidden: 'true'}" />
    </a>
  </div>

  <f:form.validationResults>
    <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">
      <f:for each="{errors}" as="error">
        <div class="alert alert-danger">{error}</div>
      </f:for>
    </f:for>
  </f:form.validationResults>

  <f:form id="mindshape-seo-configuration" action="saveConfiguration"
          arguments="{languageUid: languageUid}" name="configuration"
          object="{configuration}" enctype="multipart/form-data"
          class="seo-settings"
  >
    <div class="tabs" data-tabs>
      <div class="tabs-nav">
        <button class="tabs-nav-item show" data-tab="domain" type="button">
          {f:translate(key: 'tx_mindshapeseo_label.domainsettings', extensionName: 'mindshape_seo')}
        </button>
        <button class="tabs-nav-item" data-tab="metadata" type="button">
          {f:translate(key: 'tx_mindshapeseo_label.metadata', extensionName: 'mindshape_seo')}
        </button>
        <button class="tabs-nav-item" data-tab="analytics" type="button">
          {f:translate(key: 'tx_mindshapeseo_domain_model_configuration.analytics', extensionName: 'mindshape_seo')}
        </button>
        <button class="tabs-nav-item" data-tab="robots_txt" type="button">
          {f:translate(key: 'tx_mindshapeseo_label.robots_txt')}
        </button>
      </div>

      <div class="tabs-group position-relative d-grid">
        <f:render partial="Settings/Domain" arguments="{_all}" />
        <f:render partial="Settings/Metadata" arguments="{_all}" />
        <f:render partial="Settings/Analytics" arguments="{_all}" />
        <f:render partial="Settings/RobotsTxt" arguments="{_all}" />
      </div>
    </div>
  </f:form>
</f:section>

</html>
