:root {
  --google-link-blue: #1a0dab;
  --google-url-grey: #5f6368;
  --google-description-grey: #4d5156;
  --bootstrap-border-gray: #ddd;
  --bootstrap-link-blue: #337ab7;
  --bootstrap-success-green: #5cb85c;
  --bootstrap-success-green-hover: #449d44;
  --bootstrap-danger-red: #d9534f;
  --bootstrap-danger-red-hover: #c9302c;

  --white: #fff;
  --black: #000;
  --whitegrey: #bdbcbc;
  --grey: #ededed;
  --darkgrey: #333;
  --lightgrey: #666;

  --primary: hsla(76, 72%, 41%, 1);
  --primary-darker: hsla(90, 38%, 41%, 1);
  --secondary: hsla(127, 28%, 38%, 1);
  --tertiary: hsla(182, 85%, 15%, 1);

  --seo-offwhite: hsla(0, 0%, 95%, 1);
  --seo-offblack: hsla(0, 0%, 8%, 1);
  --seo-grey: hsla(0, 0%, 44%, 1);
  --seo-dark-grey: hsla(0, 0%, 16%, 1);
  --seo-mid-grey: hsla(0, 0%, 29%, 1);
  --seo-light-grey: hsla(0, 0%, 75%, 1);
  --seo-light-grey-100: hsla(0, 0%, 95%, 1);
  --seo-error: hsla(2, 64%, 58%, 1);

  --hsla-primary-40: hsla(76, 72%, 41%, 0.4);

  --ff-primary: "Nunito", Verdana, Arial, Sans-Serif;
  --ff-secondary: "Montserrat", Verdana, Arial, Sans-Serif;

  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-black: 900;

  &[data-color-scheme="dark"] {
    --seo-light-grey-100: hsla(0, 0%, 25%, 1);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --seo-light-grey-100: hsla(0, 0%, 25%, 1);
  }
}
