@mixin dark-variables {
  --google-link-blue: hsl(215, 100%, 80%);
  --google-url-grey: hsl(0, 0%, 91%);
  --google-description-grey: hsl(0, 0%, 75%);
  --google-bg: hsl(0, 0%, 12%);

  --form-label-color: hsl(0, 0%, 100%);
  --select-bg: hsla(0, 0%, 35%, 1);
  --checkbox-bg: hsla(0, 0%, 35%, 1);

  --seo-check-bg: hsla(0, 0%, 5%, 1);
  --seo-offwhite: hsla(0, 0%, 16%, 1);
  --seo-light-grey: hsla(0, 0%, 35%, 1);
  --seo-light-grey-100: hsla(0, 0%, 25%, 1);
}

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --whitegrey: hsl(0, 1%, 74%);
  --grey: hsl(0, 0%, 93%);
  --darkgrey: hsl(0, 0%, 20%);
  --lightgrey: hsl(0, 0%, 40%);

  --primary: hsla(76, 72%, 41%, 1);
  --primary-darker: hsla(90, 38%, 41%, 1);
  --secondary: hsla(127, 28%, 38%, 1);
  --tertiary: hsla(182, 85%, 15%, 1);

  --google-link-blue: hsl(245, 86%, 36%);
  --google-url-grey: hsl(213, 5%, 39%);
  --google-description-grey: hsl(213, 6%, 32%);
  --google-bg: var(--white);
  --bootstrap-border-gray: hsl(0, 0%, 87%);
  --bootstrap-link-blue: hsl(208, 56%, 46%);
  --bootstrap-success-green: hsl(120, 39%, 54%);
  --bootstrap-success-green-hover: hsl(120, 40%, 44%);
  --bootstrap-danger-red: hsl(2, 64%, 58%);
  --bootstrap-danger-red-hover: hsl(2, 64%, 48%);

  --select-bg: hsla(0, 0%, 92%, 1);
  --checkbox-bg: var(--white);
  --seo-check-bg: var(--white);
  --form-label-color: var(--black);

  --seo-offwhite: hsla(0, 0%, 92%, 1);
  --seo-offblack: hsla(0, 0%, 8%, 1);
  --seo-grey: hsla(0, 0%, 44%, 1);
  --seo-dark-grey: hsla(0, 0%, 16%, 1);
  --seo-mid-grey: hsla(0, 0%, 29%, 1);
  --seo-light-grey: hsla(0, 0%, 75%, 1);
  --seo-light-grey-100: hsla(0, 0%, 95%, 1);
  --seo-error: hsla(2, 64%, 58%, 1);

  --hsla-primary-40: hsla(76, 72%, 41%, 0.4);

  --ff-primary: "Nunito", Verdana, Arial, Sans-Serif;
  --ff-secondary: "Montserrat", Verdana, Arial, Sans-Serif;

  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-black: 900;

  &[data-color-scheme="dark"] {
    @include dark-variables;
  }
}

@media (prefers-color-scheme: dark) {
  :root:has([data-typo3-version="13"]) {
    @include dark-variables;
  }
}
